<!-- Комментарии -->
{% if comment_list %}
    <hr>
    <h4 class="mb-4">Last comments:</h4>
{% endif %}
{% for item in comment_list %}
    <div class="media mb-4">
        <div class="media-body">
            <h5 class="mt-0">
                <a
                        href="{% url 'profile' item.author.username %}"
                        name="comment_{{ item.id }}"
                >{{ item.author.username }}</a>
            </h5>
            {{ item.text }}
        </div>
    </div>

{% endfor %}
